#!/bin/sh -e
cat << EOF
if [ -f \${prefix}/user.cfg ]; then
  source \${prefix}/user.cfg
  if [ -n "\${GRUB2_PASSWORD}" ]; then
    set superusers="\${GRUB2_USERNAME}"
    export superusers
    password_pbkdf2 \${GRUB2_USERNAME} \${GRUB2_PASSWORD}
  fi
fi
EOF
